*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;


}

body {

  height: 100%;
  width: 100%;
  display: flex;
  background:#131317;

}

.boas-vindas{
  margin-left: 44%;
  margin-right: 50%;
  width: 1280px;
  height: 420;
  border: 14px solid #e00052;
  background:  #1c1c24;
  border-radius: 40px;

}
.aviso{


  height: 150px;
  width: 1180;
  background:  #272733;


}

.text{
  margin-left: 2%;
  margin-right: 2%;
}
.button{
  height: 10%;
  width: 10%;
}
.botão{
  height: 200px;
  width: 200px;
  margin-left: 90%;
  margin-top: 2%;
  background: red;
}

.botão:active{
  transform: scale(.80);
  transition: transform .3s;


}

.memory-game  {
  margin-left: 45%;
  margin-right: 50%;
  margin-top: 5%;
  min-width: 1180;
  min-height: 1320px;
  display: flex;
  border: 12px solid linear-gradient(44deg, #ff0055, #6a00ff, #6a00ff) ;
  border-radius: 20px;
  flex-wrap: wrap;
  perspective: 1000px;
  background: linear-gradient(44deg, #00d9ff,  #6a00ff)
}

.memory-card {
  margin-left: 10%;
  margin-right: 10%;
  width: 320;
  height: 320;
  margin: 24px;
  display: flex;
  position: relative;
  transform:scale(1);
  transform-style: preserve-3d;
  transition: transform .5s;
}

.memory-card:active{
  transform: scale(.97);
  transition: transform .3s;

}

.memory-card.flip{
  transform: rotateY(180deg);

}

.front-face,
.back-face  {
  margin-left: 10%;
  margin-right: 10%;
  width: calc(100% );
  height: calc(100% );
  display: flex;
  padding: 5px;
  position: absolute;
  border-radius: 16px;
  padding: 4px;
  border: 14px solid #183a7a;
  backface-visibility: hidden;

}

.front-face {
  transform: rotateY(180deg);
  margin-left: -10%;
  margin-right: -10%;
}
